<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="%d %-5p (%F:%L) - %m%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="org.apache.log4j.xml" level="info"/>
    <Root level="info">
      <AppenderRef ref="STDOUT"/>
    </Root>
  </Loggers>
  
  <Appenders>
    <File name="LocationsLog" fileName="logs/locations-${date:yyyy-MM-dd}.log">
      <PatternLayout pattern="%d %p %c{1.} [%t] %m%n"/>
    </File>
    <Async name="Async">
      <AppenderRef ref="LocationsLog"/>
    </Async>
  </Appenders>
  <Loggers>
    <Root level="error">
      <AppenderRef ref="LocationsLog"/>
    </Root>
  </Loggers>
  
</Configuration>